.navbar-expand .navbar-nav {
  font-weight: bold !important;
}

.navbar-collapse {
  flex-grow: unset !important;
  width: 20% !important;
}

.navbar-expand .navbar-nav .nav-link {
  margin-right: 20px;
  color: white !important;
}

@media (max-width: 768px) {
  .navbar-expand .navbar-nav .nav-link {
    margin-right: 0;
  }
}